/* CSS files add styling rules to your content */

body {
  background-image: url("https://cdn.glitch.com/48a845d6-c1b6-4462-b5b5-feaab3b4303c%2Fchores-cleaning.jpg?v=1564165622532");
  background-color: white;
  text-align: center;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  
  color: black;
}
#choreArea { 
  color: white;
  height: 200px;  
  float: left;
  width: 45%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
              0 1px 5px 0 rgba(0,0,0,0.12),
              0 3px 1px -2px rgba(0,0,0,0.2);
}

#chosenChore {
  margin-left: 7%;
  height: 200px;  
  float: left;
  width: 45%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
              0 1px 5px 0 rgba(0,0,0,0.12),
              0 3px 1px -2px rgba(0,0,0,0.2);
}
